<!DOCTYPE html>
<html>
<body>

<h2>Audio from {{ sharebot_name }} </h2>
<audio controls>
  <source src="{{ url }}" type="{{ mime_type }}">
Your browser does not support the video tag.
</audio>

</body>
</html>
